
// HEADER

//Mobile first
$bg:#fff;
$bg-menu:#00f;
$color-text-menu: #fff;

//TABLET
$color-text-menu-768px: #060A24;

//DESKTOP
$color-hover-text-menu:#00F3BB;
$color-active-menu: rgba(6,10,36,0.56);


// MAIN

//section 1
//general
$color-title-text:#060A24;

//BOTON
$bg-btn:#00F3BB;
$color-text-btn: #fff;
$btn-gradient1:#00F0B8;
$btn-gradient2: #0000FE;

//MAIN
//tablet, desktop
$color-dot:#00EC;

//section2 episodios mobile
$color-title-section2:#fff;
$sec2-5-gradient1:#0000FF;
$sec2-5-gradient2:#0000A3;

//section3 - 4 -5 
$color-title-section3-4-5:#060A24;

//section6
$color-title-section6:#fff;

//icons
$color-icons:#060A24;


















